{% extends "base.html" %}


<!-- BLOCK: title -->
{% block title %}{{super()}} - Admin - Create Item{% endblock %}


<!-- BLOCK: breadcrumb -->
{% block breadcrumb %}
{{super()}}
<li><a href="{{ url_for('main.main_page', page='admin') }}">Admin</a></li>
<li><a href="{{ url_for('.item_list') }}">Items</a></li>
<li><a href="{{ url_for('.item_create') }}">Create</a></li>
{% endblock %}


<!-- BLOCK: content -->
{% block content %}
<div id="item_create_panel" class="panel panel-info">
    <div class="panel-heading">
        <h3 class="condensed">Create Item</h3>
    </div>
    <div class="panel-body">

<form class="form-horizontal" action="{{ url_for('.item_create') }}" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        *{{ form.keyname.label }}
        {{ form.keyname(class_='form-control',placeholder='keyname') }}
        <p class="help-block">unique textual identifier - letters, numbers, dashes and underscores allowed, no spaces</p>
    </div>
    <div class="form-group">
        *{{ form.item_title.label }}
        {{ form.item_title(class_='form-control',placeholder='Title') }}
    </div>
    {{ form.submit(class_='btn btn-primary') }}
    <span class="form-submit-buttons">
        <a class="btn btn-default" href="{{ url_for('.item_list') }}">Cancel</a>
    </span>
</form>

    </div> <!-- end class="panel-body" -->
</div> <!-- end class="panel" -->
{% endblock %}


<!-- BLOCK: templates -->
{% block templates %}{{super()}} - item_create.html{% endblock %}

{# end web/app/item/templates/item_create.html #}
