{% extends "base.html" %}


<!-- BLOCK: title -->
{% block title %}{{super()}} - Admin - Item '{{ item.keyname }}'{% endblock %}


<!-- BLOCK: breadcrumb -->
{% block breadcrumb %}
{{super()}}
<li><a href="{{ url_for('main.main_page', page='admin') }}">Admin</a></li>
<li><a href="{{ url_for('.item_list') }}">Items</a></li>
<li><a href="{{ url_for('.item_view', id=item.id) }}">View '{{ item.keyname }}'</a></li>
{% endblock %}


<!-- BLOCK: content -->
{% block content %}
<div id="item_list_panel" class="panel {%
        if item.item_status == config['ITEM_STATUS_APPROVED'] %}panel-success{%
        elif item.item_status == config['ITEM_STATUS_DRAFT'] %}panel-warning{%
        elif item.item_status == config['ITEM_STATUS_HIDDEN'] %}panel-danger{%
        else %}panel-info{%
        endif %}">
    <div class="panel-heading">
<p style="float: right;">
[ <a href="{{ url_for('.item_view', id=item.id) }}">View Item</a> ]
[ <a href="{{ url_for('.item_edit', id=item.id) }}">Edit Item</a> ]
</p>
        <h3 class="condensed">Item '{{ item.keyname }}'</h3>
    </div>
    <div class="panel-body">

<div class="table-responsive">
<table class="table table-condensed table-hover">
<tr>
    <th>column</th>
    <th>value</th>
</tr>

{% for col in cols %}
    <tr>
    <td>{{ col }}</td>
    <td>
    {% if col == "item_status" %}
        {{ config['ITEM_STATUS'][(item[col]|int)] }}
    {% else %}
        {{ item[col] }}
    {% endif %}
    </td>
    </tr>
{% endfor %}

<tr>
<td>Item Owner</td>
<td>
    {% if item.owner %}
        <a href="{{ url_for('user.user_view', id=item.owner_id) }}">{{ item.owner.keyname }} ({{ item.owner.user_email }})</a>
    {% else %}
        None
    {% endif %}
</td>
</tr>

<tr>
<td>Item Editors</td>
<td>
    {% if item.item_users %}
        <ul>
        {% for iu in item.item_users %}
            <li><a href="{{ url_for('user.user_view', id=iu.user_id) }}">{{ iu.user.keyname }} ({{ iu.user.user_email }})</a></li>
        {% endfor %}
        </ul>
    {% else %}
        None
    {% endif %}
</td>
</tr>

</table>
</div>

    </div> <!-- end class="panel-body" -->
</div> <!-- end class="panel" -->
{% endblock %}


<!-- BLOCK: templates -->
{% block templates %}{{super()}} - item_view.html{% endblock %}

{# end web/app/item/templates/item_view.html #}
