@charset "utf-8";

/**
 * layout
 * see base.html
 */
#header { min-height: 80px; }
#main   { min-height: 320px; }
#footer { min-height: 80px; }

#navbar_main {
    margin-bottom: 8px;
}
#site_logo {
    margin: 8px 16px 8px 0;
}
#site_title {
    font-weight: 500;
    font-size: 36px;
    color: rgb(236, 100, 0);
}
#breadcrumb > ol {
    margin-bottom: 0;
    background-color: #ffffff;
}
#header_hr {
    margin-top: 0;
}
#footer_hr {
    margin-bottom: 0;
}


/**
 * generic element attributes
 */
h1.condensed, h2.condensed, h3.condensed, h4.condensed { margin: 10px 0 5px 0; }

form { padding: 15px; }
.form-submit-buttons { padding-left: 15px; }

.table-condensed { margin-bottom: 0; }
.table-borderless td,
.table-borderless th {
    border: none !important;
}


#debuginfo { padding: 15px;}
