{% extends "base.html" %}

<!-- BLOCK: main : content_left, content -->
{% block main %}
<div id="main" class="container-fluid layout-2col">
    <div class="row">
        <div id="content_left" class="col-md-3">
            {% block content_left %}block content_left{% endblock %}
        </div>
        <div id="content" class="col-md-9">
            {% block content %}block content{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

<!-- BLOCK: templates -->
{% block templates %}{{super()}} - layout_2col.html{% endblock %}

{# end web/app/main/templates/layout_2col.html #}
