<nav id="navbar_main" class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">FlaskApp</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li -->
        <li><a href="#">Items</a></li>
        <li><a href="#">Users</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('item.item_list') }}">Items</a></li>
            <li><a href="#">Users</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">ItemSix</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- end class="collapse navbar-collapse" -->

  </div><!-- end class="container-fluid" -->
</nav><!-- end id="navbar_main" -->

{# end web/app/main/templates/navbar_main.html #}
