{% extends "base.html" %}


<!-- BLOCK: title -->
{% block title %}{{super()}} - Profile{% endblock %}


<!-- BLOCK: breadcrumb -->
{% block breadcrumb %}
{{super()}}
<li><a href="{{ url_for('.user_profile') }}">User Profile</a></li>
{% endblock %}


<!-- BLOCK: content_left -->
{% block content_left %}
{{super()}} <b>user_view</b>
{% endblock %}


<!-- BLOCK: content -->
{% block content %}
<div id="item_list_panel" class="panel {%
        if user.user_role == 4 %}panel-success{%
        else %}panel-info{%
        endif %}">
    <div class="panel-heading">
<p style="float: right;">
{# [ <a href="{{ url_for('.user_edit', id=user.id) }}">Update Profile</a> ] #}
[ <a href="{{ url_for('.user_logout') }}">Logout</a> ]
</p>
        <h3 class="condensed">Profile '{{ user.keyname }}'</h3>
    </div>
    <div class="panel-body">

<div class="table-responsive">
<table class="table table-condensed table-hover">
<tr>
    <th>column</th>
    <th>value</th>
</tr>

{% for col in cols %}
    <tr>
    <td>{{ col }}</td>
    <td>
    {% if col == "user_role" %}{%
        if user[col] == 4 %}Administrator{%
        elif user[col] == 2 %}Editor{%
        elif user[col] == 1 %}User{%
        else %}Inactive{%
        endif %}
    {% else %}
        {{ user[col] }}
    {% endif %}
    </td>
    </tr>
{% endfor %}

</table>
</div>

    </div> <!-- end class="panel-body" -->
</div> <!-- end class="panel" -->
{% endblock %}


<!-- BLOCK: templates -->
{% block templates %}{{super()}} - user_profile.html{% endblock %}

{# end web/app/user/templates/user_profile.html #}
