{% extends "base.html" %}


<!-- BLOCK: title -->
{% block title %}{{super()}} - Admin - Edit User '{{ form.user.keyname }}'{% endblock %}


<!-- BLOCK: breadcrumb -->
{% block breadcrumb %}
{{super()}}
<li><a href="{{ url_for('main.main_page', page='admin') }}">Admin</a></li>
<li><a href="{{ url_for('.user_list') }}">Users</a></li>
<li><a href="{{ url_for('.user_edit', id=form.id.data) }}">Edit '{{ form.user.keyname }}'</a></li>
{% endblock %}


<!-- BLOCK: content -->
{% block content %}
<div id="item_edit_panel" class="panel {%
        if form.user_role.data == config['USER_ROLE_ADMIN']|string %}panel-success{%
        elif form.user_role.data == config['USER_ROLE_NONE']|string %}panel-danger{%
        else %}panel-info{%
        endif %}">
    <div class="panel-heading">
<p style="float: right;">
[ <a href="{{ url_for('.user_view', id=form.id.data) }}">View User</a> ]
[ <a href="{{ url_for('.user_edit', id=form.id.data) }}">Edit User</a> ]
</p>
        <h3 class="condensed">User '{{ form.user.keyname }}'</h3>
    </div>
    <div class="panel-body">

<form class="form-horizontal" action="{{ url_for('.user_edit', id=form.id.data) }}" method="post">
    {{ form.csrf_token }}
    {{ form.id }}
    <div class="form-group">
        *{{ form.keyname.label }}
        {{ form.keyname(class_='form-control',placeholder='username') }}
        <p class="help-block">unique textual identifier - letters, numbers, dashes and underscores allowed - no spaces</p>
    </div>
    <div class="form-group">
        *{{ form.user_email.label }}
        {{ form.user_email(class_='form-control',placeholder='a@b.c') }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_='form-control',placeholder='password') }}
    </div>
    <div class="form-group">
        {{ form.password2.label }}
        {{ form.password2(class_='form-control',placeholder='confirmation') }}
    </div>
    <div class="form-group">
        {{ form.user_role.label }}
        {{ form.user_role(class_='form-control') }}
    </div>
    {{ form.submit(class_='btn btn-primary') }}
    <span class="form-submit-buttons">
        <a data-confirm-link="Delete User? This action cannot be undone." href="{{ url_for('.user_delete', id=form.id.data) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete User</a>
    </span>
</form>

{{ form.cnt_login.label }} : {{ form.cnt_login.data }}<br/>
{{ form.mod_login.label }} : {{ form.mod_login.data }}<br/>
{{ form.mod_create.label }} : {{ form.mod_create.data }}<br/>
{{ form.mod_update.label }} : {{ form.mod_update.data }}<br/>

    </div> <!-- end class="panel-body" -->
</div> <!-- end class="panel" -->
{% endblock %}


<!-- BLOCK: templates -->
{% block templates %}{{super()}} - user_edit.html{% endblock %}

{# end web/app/user/templates/user_edit.html #}
